html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("src/dartmouth_aerial.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

.white-text {
    color:#fff;
}

hr {
  color: #656969;
  border-width: 2px;
  border: 1;
  clear: both;
  width: 96%;
  height: 1px;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #d2e4d6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
}

a {
  color: #00693e;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #013a22;
  text-decoration: underline;
}

img {
  max-width:92vw;
}